.date_label {
    position: relative;
    top: 250px;
    left: 700px;
}

.map {
    position: fixed;
    top: 0px;
    left: 0px;
}

.name {
    position: relative;
    top: 250px;
    left: 700px;
    font-size: xx-large
}

.count {
    position: relative;
    top: 250px;
    left: 700px;
    font-size: xx-large
}

.end {
    color: red;
    position: relative;
    top: 250px;
    left: 700px;
    font-size: xx-large
}

.path.event {
  stroke-dasharray: 20;  
  /* stroke-dashoffset: 1000; */
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}
